<!DOCTYPE html>
<html ng-app="cinema" lang="es">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Ejemplo de HTML5">
	<meta name="keywords" content="HTML5">
	<title>Cinema</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" ></script>
	<script src="aplicacion/app.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen" />
	
</head>
<body>
	<header>
		<h1>{{"CINEMA"}}</h1>
	</header>
	<section>

<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel panel-default" class="peliculas" ng-controller ="peliculaController as controllerp">
	  			<div class="panel-body container_pelicula">
	   		 	<img class="img-responsive" src="assets/img/{{controllerp.pelicula.imagen|lowercase }}.jpg">
			
	  			</div>
  				<div class="panel-footer">
  					<ul>
  						<li><strong>{{controllerp.pelicula.name}}</strong></li>
						<strong>Genero : </strong> 
						<span ng-repeat="genero in controllerp.pelicula.genero"> 
							{{genero}}
						</span>
						<li><strong>Calificación : </strong>{{controllerp.pelicula.Calificacion}}</li><strong> lenguajes :</strong>
						<span ng-repeat="lenguaje in controllerp.pelicula.lenguajes"> 
							{{genero}}
						</span>
						<li><strong> formato :</strong>{{controllerp.pelicula.formato.join(', ')}} </li>
						<li><strong> sinopsis : </strong>{{controllerp.pelicula.sinopsis}} </li>
					</ul>
  				</div>
			</div>
		</div>
		
	</div>
</div>

</section>

</div>
</body>
</html>


